table,td,th{
    border: 1px solid black;
    text-align: center;
}

td{
    background-color: yellow;
}

.cns{
    background-color: skyblue;
}
.wp{
    background-color: palevioletred;
}
.os{
    background-color: rgb(235, 204, 164);
}
.ethics{
    background-color: rgb(136, 255, 0);
}
.sl{
    background-color: turquoise;
}

.ic{
    background-color: blue;
}
.psv{
    background-color: rgb(149, 102, 204);
}
.nosql{
    background-color: rgb(218, 218, 99);
}
.zero{
    background-color: rgb(21, 21, 124);
    color: white;
}
.activity{
    background-color: honeydew;
}
th{
    background-color: yellow;
}
.day{
    background-color: yellow;
}
table{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

h1,h2{
    text-align: center;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
